.sustainSec{
    max-width: 1440px;
    height: 526px;
    margin: auto;
    background-image: url('../../assets/images/sustainability.jpg');
    background-size: cover;
    background-position: 0 ;
    position: relative;

    margin-top: 100px;
}

.sustainDiv{
    width: 495px;
    font-size: 20px;
    line-height: 1.8;
    position: absolute;
    top: 360px;
    right: 108px;
    
    button{
        margin-top: 12px;
        position: absolute;
        right: 0;
    }
}

