.navbar{
    position: sticky;
    top: 0;
    z-index: 10;
    /* display: flex;
    justify-content: center; */
}

.navTopDiv{
    background-color: #5A6D57;
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .8px;
}

.navMainDiv{
    display: flex;
    align-items: center;
    padding: 0 108px;
        
    .logoDiv{
        max-width: 184px;
        text-align: center;
        padding: 18px;

        .logo{
            max-width: 155.5px;
        }
        
        .logoText{
            color: #404040;
            font-size: 10px;
        }
    }
    
    
    .navMenuDiv{
        display: flex;
        gap: 24px;
        padding: 0 104px;

        a{
            font-size: 18px;
            color: #404040;
            width: 104px;
            text-align: center;
        }
    }

    .navIconsDiv{
        display: flex;
        align-items: center;
        gap: 24px;
    }
}