.header{
    max-width: 1440px;
    height: 600px;
    background-image: url(../.././assets/images//header-img.png);
    background-size: cover;
    background-position: 0;
    position: relative;
    margin: auto;
}

.headerDiv{
    position: absolute;
    top: 300px;
    left: 108px;
    width: 295px;


    .headerText{
        height: 130px;
        font-size: 34px;
        line-height: 1.8;
        font-family: 'SansMt';
        font-style: italic;
        margin-bottom: 28px;
    }
}