.followSec{
    max-width: 1224px;
    margin: auto;
}

.followImagesDiv{
    display: flex;
}

.followLeft,
.followRight{

    div{
        width: 310px;
        height: 375px;
        background-size: cover;
        background-position: 0;
    }

    .big{
        width: 604px;
        height: 750px;
    }
}

.followRight{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.follow1{
    background-image: url('../../assets/images/follow1.jpg');
}

.follow2{
    background-image: url('../../assets/images/follow2.jpg');
}

.follow3{
    background-image: url('../../assets/images/follow3.jpg');
}

.follow4{
    background-image: url('../../assets/images/follow4.jpg');
}

.follow5{
    background-image: url('../../assets/images/follow5.jpg');
}

