@config "../tailwind.config.js"; 
@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'SansMt';
    src: url('./assets/fonts/gillsansmt.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}


/* Global CSS Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ol, ul, li {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Custom Styles */

.swiper-pagination{
    top: auto !important;
    bottom: 0 !important; 
    line-height: 1;
    position: relative;
    margin-top: 34px;
}

.swiper-pagination-bullet {
    background-color: #adadad ;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #dfdfdf;
    transform: scale(1.5);
}