@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'SansMt';
    src: url('./assets/fonts/gillsansmt.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ol, ul, li {
    list-style: none;
}

img {
    max-width: 100%;
}

body{
    font-family: Montserrat;
    color: #0C0C0C;
}

.titleDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 88px 0 24px 0;
    
    h2{
        font-weight: 600;
        line-height: 1.4;
    }
}

.btn{
    width: 185px;
    height: 40px;
    border: none;
    font-size: 14px;
    background-color: white;
    letter-spacing: .2px;
    cursor: pointer;
}