@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'SansMt';
    src: url('./assets/fonts/gillsansmt.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ol, ul, li {
    list-style: none;
}

img {
    max-width: 100%;
}

body{
    font-family: Montserrat;
    display: flex;
    justify-content: center;
}

.container{
    width: 1440px;
}