.collectionSec{
    max-width: 1224px;
    margin: auto;
}

.collectionsDiv{
    display: flex;
    gap: 24px;

    div {
        width: 600px;
        background-size: cover;
        background-position: 0;
        position: relative;
    }

    .collBtn{
        position: absolute;
        right: 16px;
        bottom: 16px;
    }

    .leftCollDiv{
        gap: 64px;
    }
    .rightCollDiv{
        gap: 144px;
    }

    .collectionOne{
        height: 518px;
        margin-bottom: 64px;
        background-image: url('../../assets/images/collection1.png');
    }
    .collectionTwo{
        height: 837px;
        background-image: url('../../assets/images/collection2.png');
    }
    .collectionThree{
        height: 840px;
        margin-bottom: 144px;
        background-image: url('../../assets/images/collection3.png');

        .collBtn{
            left: 16px;
        }
    }
    .collectionFour{
        height: 435px;
        background-image: url('../../assets/images/collection4.jpg');
    }
}

